body {
    font-family: helvetica, sans-serif;
    background: #2d3250;
    
}
a:link, a:visited{
    color: #ff6600;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#wrap {
    width: 960px;
    margin:auto;
    background: #424769;
    padding: 10px 20px;
    overflow: hidden;
}
header h1{
    color: #fff;
}
header nav ul{
    list-style: none;
    padding-left: 0;
}
header nav ul li{
    display: inline-block;
    margin-right: 10px;
}
header nav ul li a{
    font-size: 18px;
}
#content{
    float: left;
    width: 660px;
    background: red;
}
#sidebar{
    float: right;
    width: 300px;
    background: blue;
}
#sidebar ul{
    list-style: none;
}
footer{
    clear: both;
}